:root {
	--accent-color1: rgb(57, 60, 65); /* nav bar colors */
  --accent-color2: #000000; /* section header and social icon colors */
  --accent-color3: #B8C6DB; /* the color the social media buttons turn into */
	--main-color1: #DDD0C8; /* body and header color */
  --divider-color: rgba(0, 0, 0, 0.1); /* coloring under section bars */
  --projects-learning-section: 120px; /* size of projects & learning section */
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background: var(--main-color1);
	margin: 0;
	font-family: sans-serif;
}



/* header and navbar section */
#title {
	text-align: center;
	color: var(--accent-color1);
	font-size: clamp(16px, 3.2vw, 30px);
  margin-left: 15px;
  font-family: "Anton";
  font-weight: normal;
}

header {
  width: 100%;
  height: 60px;
  background-color: var(--main-color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 10px var(--divider-color);
  z-index: 2;
}

#header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  list-style: none;
}

.nav-links  {
  text-decoration: none;
  color: var(--accent-color1);
}

.header-nav-list {
  font-family: sans-serif;
  font-size: clamp(12px, 1.5vw, 16px);
}

.section-header {
  color: var(--accent-color2);
  text-align: center;
}

.divider {
  box-shadow: 0 4px 10px var(--divider-color);
  margin: 2px 0;
  height: 5px;
}

main {
  margin-top: 80px;
}




/* landing page */
#landing {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  font-family: "eurostile", sans-serif;
}



/* about section */
#about-image {
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  align-items: left;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  overflow: auto;
  display: flex;
  justify-content: center;
}

#about-me-p {
  margin: 0;
  font-size: clamp(12px, 1.5vw, 20px);
  margin-top: 10px;
  margin-right: 40px;
}

#about-text {
  width: 100vw;
  height: 50vh;
}




/* certification section */
.certification {
  font-size: 16px;
}

#certifications-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
  margin: 0 auto;
  padding: 20px 10px;
}

.individual-certification {
  display: inline-block;
}

.individual-certification-details {
  font-size: 12px;
  float: right;
  text-align: right;
  margin: 0;
  margin-right: 10px;
}

.certification-image {
  max-width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
  align-items: left;
  margin-left: 10px;
}



/* project section */
#projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  margin-bottom: var(--projects-learning-section);
  padding: 20px 10px;
  position: relative;
  max-width: 90vw;
  align-items: center;
}

.project-content {
  margin: 0;
  padding: 0;
  max-width: 80vw;
  word-wrap: break-word;
}

.project-header {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  max-width: 80vw;
  word-wrap: break-word;
  font-weight: bold;  
  text-align: center;
  font-size: 16px;
}

.collapsible-buttons {
  width: 100%;
  place-items: center;
  margin: 0 auto;
  display: flex;
}

.collapsible-content {
  display: none;
  position: absolute;
  transition: display 0.5s ease-in-out, opacity 0.5s ease-in-out;
  text-align: center;
  opacity: 0;
  width: 100%;
}

.collapsible-content.initial-state {
  opacity: 0;
  display: block;
}

.collapsible-content.open {
  display: block;
  opacity: 1;
}

.collapsible-trigger {
  border: none;
  background-color: var(--accent-color2);
  font-family: "Anton";
  border-radius: 15px;
  color: white;
}

.project-date {
  font-size: 14px;
}

.project-notes {
  font-size: 13px;
}

.btn {
  border: none;
  display: flex;
  justify-content: center;
}

.btn:hover {
  filter: invert(1);
  display: flex;
  justify-content: center;
}



/* other info section */
#other-info-text {
  padding-left: 10px;
}

.contact-list-text {
  margin: 0;
  text-align: left;
  font-size: 14px;
}

#contact {
  margin: 0;
  margin-top: 10px;
}

#contact-list {
  margin: 0;
}

#affiliate-link-title {
  margin: 0;
  margin-top: 10px;
}

.affiliate-link-p {
  margin: 0;
  font-size: 14px;
}

.affiliate-link {
  text-decoration: none;
  color: var(--accent-color1);
}

#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--accent-color2);
  color: #fff;
  margin: 0 15px 15px 0;
  cursor: pointer;
  transition: background-color 1s ease-out 100ms;
}

.icon-circle:hover {
  background-color: var(--accent-color3);
}

.icon-link:hover {
	background-color: var(--accent-color3);
}

.icons {
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
  height: 100%;
}

.social-links {
  color: var(--accent-color1);
  text-decoration: none;
}



/* timeline stuff */
/* https://www.w3schools.com/howto/howto_css_timeline.asp */
.timeline-title {
  font-family: "Anton";
}

.timeline-text {
  font-family: "Raleway";
  font-size: 14px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid var(--accent-color2);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* media queries for screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 16px;
  }

  .right {
    left: 0%;
  }
}



/* footer */
footer {
  font-size: 12px;
  text-align: center;
}

#last-updated {
  margin: 0;
  margin-top: 20px;
}

#year {
  margin: 0;
  display: inline-block;
  font-weight: bold;
}

#copyright {
  margin: 0;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: bold;
}