:root {
  /* colors */
	--accent-color1: #D8C3A5; /* nav bar */
  --accent-color2: #000000; /* section header */
  --accent-color3: white; /* the color the social media buttons turn into */
  --accent-color4: #E85A4F; /* timeline, footer, social media icon */
  --accent-color5: #8E8D8A; /* project hover color */
  --section-color: #f5f5f7; /* section */
	--main-color1: #EAE7DC; /* body and header color */
  --divider-color: rgba(0, 0, 0, 0.1); /* coloring under section bars */
  /* OTHER COLORS TO TRY: beige #D8C3A5, grey #8E8D8A, red #E98074, redder #E85A4F */

  /* fonts */
  --primary-font: "Georgia"; /* title, timeline */
  --body-font: "Avenir"; /* main body text */
  --code-font: Hack, monospace; /* hack font */

  /* other */
  --projects-learning-section: 120px; /* size of projects & learning section */
  --project-size: clamp(60vw, 100px, 70vw);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background: var(--main-color1);
	margin: 0;
	font-family: var(--body-font);
}



/* header and navbar section */
header {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    margin: 0;
    z-index: 2;
}

.header-section {
    height: 55px;
    width: 100%;
    background-color: var(--section-color);
    position: relative;
}

#ham-icon {
    position: fixed;
    right: 20px;
    top: 15px;
}

.topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  
.topnav a.icon {
    background: var(--section-color);
    color: var(--accent-color4);
    display: block;
    right: 0;
    top: 0;
  }
  
.hamburger-links {
    background-color: var(--section-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px !important;
  }

#title {
	color: var(--accent-color1);
  font-family: var(--primary-font);
  font-weight: bold;
  vertical-align: middle;
  font-size: 25px;
  position: fixed;
  top: 12px;
  left: 15px;
}

.section-header {
  color: var(--accent-color2);
  text-align: center;
  display: relative;
}

.divider {
  box-shadow: 0 4px 10px var(--divider-color);
  background-color: var(--section-color);
  margin: 2px 0;
  height: 5px;
}



/* landing page */
#landing {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  font-family: var(--code-font);
}



/* about section */
#about-image {
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  align-items: left;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  overflow: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  #about-image {
    max-width: 200px;
    height: 200px;
  }
}

#about-me-p {
  margin: 0;
  font-size: clamp(12px, 1.5vw, 20px);
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
}

#about-text {
  width: 100vw;
  height: clamp(200px, 50vh, 400px);
}




/* certification section */
#certifications-header {
  margin-top: 20px;
}

.certification {
  font-size: 16px;
}

#certifications-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
  margin: 0 auto;
  padding: 20px 10px;
}

.individual-certification {
  display: inline-block;
}

.individual-certification-details {
  font-size: 12px;
  float: right;
  text-align: right;
  margin: 0;
  margin-right: 10px;
}

.certification-image {
  max-width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
  align-items: left;
  margin-left: 10px;
}



/* project section */
#projects-section {
  margin: 0 auto;
  margin-bottom: var(--projects-learning-section);
  padding: 20px 10px;
  position: relative;
  max-width: 90vw;
  align-items: center;
}

.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: var(--project-size);
  border: none;
  outline: none;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-family: var(--code-font);
}
  
.collapsible:hover {
  background-color: var(--accent-color5);
}

.active {
  background-color: black;
}
  
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
  
.active:after {
  content: "\2212";
}
  
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  width: var(--project-size);
  display: flex;
  justify-content: center;
  margin: 10px auto;
}



/* other info section */
#other-info {
  position: relative;
  display: block;
  margin-top: 10px;
}

#other-info-text {
  padding-left: 10px;
}

.contact-list-text {
  margin: 0;
  text-align: left;
  font-size: 14px;
}

#contact {
  margin: 0;
  margin-top: 10px;
}

#contact-list {
  margin: 0;
}

#affiliate-link-title {
  margin: 0;
  margin-top: 10px;
}

.affiliate-link-p {
  margin: 0;
  font-size: 14px;
}

.affiliate-link {
  text-decoration: none;
  color: var(--accent-color);
}

#socials {
  margin-top: 10px;
}

#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--accent-color2);
  color: #fff;
  margin: 0 15px 15px 0;
  cursor: pointer;
  transition: background-color 1s ease-out 100ms;
}

.icon-circle:hover {
  background-color: var(--accent-color5);
}

.icon-link:hover {
	background-color: var(--accent-color5);
}

.icons {
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
  height: 100%;
}

.social-links {
  color: var(--accent-color4);
  text-decoration: none;
}



/* timeline stuff */
/* https://www.w3schools.com/howto/howto_css_timeline.asp */
.timeline-title {
  font-family: var(--primary-font);
}

.timeline-text {
  font-family: "Raleway";
  font-size: 14px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid var(--accent-color4);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* media queries for screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 16px;
  }

  .right {
    left: 0%;
  }
}



/* footer */
footer {
  font-size: 12px;
  text-align: center;
  color: var(--accent-color4)
}

#last-updated {
  margin: 0;
  margin-top: 20px;
}

#year {
  margin: 0;
  display: inline-block;
  font-weight: bold;
}

#copyright {
  margin: 0;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: bold;
}